* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

body  {
  background-color: #E5E5E5;
  margin-top: 170px;
}

.global-conteiner {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 5px 5px 5px #dcdcdc74;
  border: 1px solid #80808042;
}

form textarea {
  border-radius: 8px;
  border: none;
  font-size: 15px;
  padding: 8px;
  resize: none;
  margin: 0px 30px 30px 30px;
  outline: none;
}

form label {
  margin: 30px;
}

form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  margin: 10px 0 10px 0;
  padding: 10px 15px;
  background-color: #1568F6;
  color: #F5F5F5;
  border: none;
  width: 70px;
  margin: 0 30px 30px 0;
  font-size: 12px;
  align-self: flex-end;
}

form button:hover {
  cursor: pointer;
  background-color: #1567f6ec;
  transition: 0.5s;
  box-shadow: 2px 2px 5px #00000042;
}


header {
  height: 70px;
  position: absolute;
  top: 0;
  width: 100%;
}

#navbarup {
  height: 60px;
  background-color: #1568f6;
}

#navbarlogo {
  width: 160px;
  height: 100%;
  border-bottom: 4px solid #f3e84e;
  margin-bottom: 4px;
}

#navbarlogo a {
  margin-top: 10px;
}

#navbardep {
  height: 10px;
  background-color: #0A347B;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 48px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 50px;
  flex-direction: column;
}

footer span {
  margin-top: 10px;
  font-size: small;
}
footer img {
  height: 35px;
}

@-webkit-keyframes rodaroda {
  0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-moz-keyframes rodaroda {
  0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-ms-keyframes rodaroda {
  0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@-o-keyframes rodaroda {
  0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}
@keyframes rodaroda {
  0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
	50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
	100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
}

#loading {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  background-color: #767676b5;
}

#loading img{
  width: 40px;
  margin-top:100px;
  transform: rotate(-15deg);
  position:relative;
  -webkit-animation: rodaroda 1s linear alternate 3;
  -moz-animation: rodaroda 1.0s linear infinite;
  -ms-animation: rodaroda 1.0s linear infinite;
  -o-animation: rodaroda 1.0s linear infinite;
  animation: rodaroda 1.0s linear infinite;
}

.none {
  display: none;
}
